<h1>Titanate density controll</h1>
<h4>Current banch: {{$ctrl.currentBanch}}</h4>
<div class="container">
  <div class="col-xs-12">
    <div  class="row-content">
      <div class="item-weight">
        <div class="col-sm-2">
          <h4>clad: {{$ctrl.item.clad}}</h4>
          <h4>diameterAvg: {{$ctrl.item.diameterAvg}}</h4>
          <h4>cladDepth: {{$ctrl.item.cladDepth}}</h4>
        </div>
        <div class="col-sm-3">
          <h4>expTitanateHgt: {{$ctrl.expTitanateHgt}}</h4>
          <h4>expTitanateWgt: {{$ctrl.item.expTitanateWgt}}</h4>
          <h4>expTitanateDensity: {{$ctrl.expTitanateDensity}}</h4>
        </div>
        <div class="col-sm-3">
          <h4>actTitanateHgt: {{$ctrl.item.data.actTitanateHgt}}</h4>
          <h4>actTitanateWgt: {{$ctrl.item.data.actTitanateWgt}}</h4>
          <h4>actTitanateDensity: {{$ctrl.item.data.actTitanateDensity}} </h4>
        </div>
        <div class="col-sm-4">
          <div class="vertical-align">
             <button class="btn btn-info"
                ng-click="$ctrl.getActTitanateHgt($ctrl.item);">
                Hight
            </button>
            <button class="btn btn-success"
                ng-if="$ctrl.item.data.actTitanateHgt"
                ng-click="$ctrl.getFakeTitanateWgt($ctrl.item);">
                Weight
            </button> 
            <button class="btn btn-danger"
                type="button"
                ng-if="item.data.actual_absorber_density"
                ng-disabled="itemForm.$invalid || itemForm.$pending"
                ng-click="$ctrl.putInfo(item, $index);">
                Send
            </button>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>