<h1>Titanate density controll</h1>
<h4>Current banch: {{$ctrl.currentBanch}}</h4>
<div class="container">
  <div class="col-xs-12">
    <div  class="row-content">
      <div class="item-weight">
        <div class="col-sm-2">
          <h4>clad: {{$ctrl.item.clad}}</h4>
          <h4>diameterAvg: {{$ctrl.item.diameterAvg}}</h4>
          <h4>cladDepth: {{$ctrl.item.cladDepth}}</h4>
        </div>
        <div class="col-sm-3">
          <h4>expTitanateHgt: {{$ctrl.expTitanateHgt}}</h4>
          <h4>expTitanateWgt: {{$ctrl.item.expTitanateWgt}}</h4>
          <h4>expTitanateDensity: {{$ctrl.expTitanateDensity}}</h4>
        </div>
        <div class="col-sm-3">
          <h4>actTitanateHgt: {{$ctrl.item.data.actTitanateHgt}}</h4>
          <h4>actTitanateWgt: 
            <span ng-class="{'red': $ctrl.item.expTitanateWgt > $ctrl.item.data.actTitanateWgt, 
            'green': $ctrl.item.expTitanateWgt <= $ctrl.item.data.actTitanateWgt}">
            {{$ctrl.item.data.actTitanateWgt}}</h4>
          <h4>actTitanateDensity: 
            <span ng-class="{'red': $ctrl.expTitanateDensity > $ctrl.item.data.actTitanateDensity, 
            'green': $ctrl.expTitanateDensity <= $ctrl.item.data.actTitanateDensity}">
            {{$ctrl.item.data.actTitanateDensity}}</span> </h4>
        </div>
        <div class="col-sm-4">
          <div class="vertical-align">
             <button class="btn btn-info"
                ng-click="$ctrl.getActTitanateHgt($ctrl.item);">
                GetHgt
            </button>
            <button class="btn btn-success"
                ng-if="$ctrl.item.data.actTitanateHgt"
                ng-click="$ctrl.getFakeTitanateWgt($ctrl.item);">
                GetWgt
            </button> 
            <button class="btn btn-danger"
                type="button"
                ng-if="$ctrl.item.data.actTitanateDensity"
                ng-click="$ctrl.putDataAndGoToBoron($ctrl.item);">
                Send
            </button>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>